.navbar {
    background-color: #26292c; /* Change to desired color */
    padding: 0.5rem 1rem; /* Padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
//     background: transparent;
//     backdrop-filter: blur(9px);
}

.navbar-brand {
    font-size: 1.5rem; /* Larger font size for brand */
    font-weight: bold; /* Bold font for brand */
    color: #fff; /* Light color for brand */
    
}

.logo-black {
  color: white;
}

.logo-blue {
  color: orange;
}

.navbar-toggler {
    border: none; /* Remove border */
}

.navbar-collapse {
    justify-content: space-between; /* Space between logo and nav items */
}

.navbar-nav {
    align-items: center; /* Center align nav items */
}

.nav-item {
    margin-left: 1rem; /* Spacing between nav items */
}

.nav-link {
    color: #fff; /* Light color for links */
    font-size: 1rem; /* Standard font size */
    transition: color 0.3s; /* Smooth transition for color change */
    display: inline-block; /* Display links inline */
}

.nav-link:hover {
    color: #007bff; /* Blue color on hover */
}

.nav-link.active {
    color: #007bff; /* Blue color for active link */
}

.Btn {
    background-color: #007bff; /* Blue background for button */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 0.5rem 1rem; /* Padding for button */
    border-radius: 0.25rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.Btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Styles */
@media (max-width: 992px) {
    .navbar-collapse {
        justify-content: flex-start; /* Align items to start on smaller screens */
    }

    .navbar-nav {
        flex-direction: column; /* Stack nav items vertically */
        width: 100%; /* Full width */
    }

    .nav-item {
        margin-left: 0; /* Remove left margin */
        margin-bottom: 0.5rem; /* Add bottom margin */
    }

    .nav-link {
        text-align: center; /* Center align text */
    }
}