<footer id="contact">
    <div class="footer-grid-container">

        <div class="grid-item">
            <h3>Logistics <span class="text-info">Shipment</span></h3>
            <ul> 
                <li>Logistics Shipment beyond borders.</li>
            </ul>
        </div>

        <div class="grid-item">
            <h3>Services</h3>
            <ul>
                <li>Transportation</li>
                <li>Warehouse Management</li>
                <li>Order Management</li>
            </ul>
        </div>

        <div class="grid-item">
            <h3>Contact Us</h3>
           <ul>
               <li class="flex-icons">
                           <i class="fab fa-twitter"></i>
                           <i class="fab fa-facebook"></i>
                           <i class="fab fa-instagram"></i>
                         </li>
            <li>Email: Logistics&#64;gmail.com</li>
            <li> Phone No.: +911234567890</li>
            </ul>
          
        </div>

        <div class="grid-item">
            <h3>Our Company</h3>
            <ul>
                <li>About Us</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: blue;">
    <small>Logistics System 2025</small>
</div>
</footer>


